.sidenav {
  height: 100%;
  width: 163px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #f7f7f7;
  border-right: 2px solid #a5e0f7;
  padding: 4px;
}

body {
  background-color: white;
  margin-left: 164px;
}

.nav .nav-tabs {
  border-bottom: 30px solid #a5e0f7;
  color: darkblue;
}

.col-md-2 {
  margin-top: 20px;
}

.panel-default {
  background-color: #f7f7f7;
}

.container {

  padding: 20px;
  /* margin-top: 20px;
  margin-left: 20px; */
}

.border {

}
